.activation-box {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 10px;
  &--active {
    @extend .activation-box;
    background-color: green;
  }
  &--inactive {
    @extend .activation-box;
    margin-left: 10px;
    background-color: #ff3300;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.enrollment-container {
  width: 1000px;
}

.filter, h2, mat-card {
  margin-left: 20px;
}

.table-container {
  margin-left: 20px;
  width: 100%;
  border: 2px solid lightgray;
  border-bottom: none;
  max-height: 60vh;
  overflow-y: auto;
}

table {
  width: 100%;
}

.border-inactive {
  border-left: 5px solid #ff3300;
}

.border-active {
  border-left: 5px solid green;
}
