<div class="dialog-container">
  <h2 mat-dialog-title>Edit Enrollment</h2>
  <form (ngSubmit)="saveEnrollee(f)" #f="ngForm">
    <mat-dialog-content class="mat-typography">
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="enrollee.name"
            name="enrolleeName"
            #nameInput="ngModel"
            required
          />
          <mat-error *ngIf="nameInput.hasError('required')">Name must not be empty</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Activation Status</mat-label>
          <mat-select [(ngModel)]="enrollee.active" required name="activationStatus">
          <mat-option [value]="activationStatus.value" *ngFor="let activationStatus of activationStatuses">
            {{ activationStatus.viewValue }}
          </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button [mat-dialog-close]="''">Cancel</button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [mat-dialog-close]="enrollee"
        cdkFocusInitial
        [disabled]="!f.valid || f.pristine"
      >
        Save
      </button>
    </mat-dialog-actions>
  </form>
</div>
